:root {
   --body-bg: #fbfbfb;
   --text: #000;
   --text-gradient: linear-gradient(90deg, #000000d9 0%, rgba(115, 152, 247, 0.907943) 21.07%, rgba(12, 76, 241, 0.84) 85.86%);
   --header-gradient: linear-gradient(var(--body-bg));
   --input-box: #dddddd;
}

.dark:root {
   --body-bg: linear-gradient(142.73deg, #121216 5.2%, rgba(8, 6, 32, 0.85) 89.26%);
   --light: #4B90D0;
   --text: #fff;
   --text-gradient: linear-gradient(90deg, #ffffff 0%, rgba(115, 152, 247, 0.907943) 21.07%, rgba(12, 76, 241, 0.84) 85.86%);
   --header-gradient: linear-gradient(180deg, #000 15%, rgba(0, 115, 255, 0.003) 85%, rgba(0, 0, 0, 0) 100%);
   --input-box: #D9D9D9;
}

* {
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
}

html,
body {
   padding: 0;
   margin: 0;
   background: var(--body-bg);
   font-size: 16px;
}

a,
li {
   color: inherit;
   text-decoration: none;
   list-style: none;
   color: var(--text);
}

button {
   border: 0;
   outline: none;
   background: none;
}

.wrapper {
   position: relative;
   display: flex;
   height: 100vh;
   width: 100%;
}

.light {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(30%, -50%);
   height: 30%;
   width: 30%;
   border-radius: 50%;
   background-color: var(--light);
   filter: blur(120px);
   z-index: 1;
}

.header {
   position: fixed;
   top: 0;
   height: auto;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   border-bottom-left-radius: 25px;
   border-bottom-right-radius: 25px;
   width: 100%;
   padding: .4em 3.75em;
   z-index: 50;
}

.header.active {
   animation: headerActive 1s ease-in;
   background: var(--header-gradient)
}

.hamburguer {
   display: none;
}

.logo {
   color: var(--text);
   font-size: 3rem;
   font-weight: 800;
   font-style: italic;
}

.navigation,
.list-navigator {
   width: auto;
   display: flex;
   flex-direction: row;
}

.list-navigator li {
   font-weight: 500;
   font-size: 1.375rem;
   padding-bottom: .25rem;
   cursor: pointer;
   transition: all 200ms ease-in;
   border-bottom: .25rem solid rgba(0, 0, 0, 0);
}

.list-navigator li.active {
   border-bottom: .25rem solid var(--text);
}

.list-navigator li+li {
   margin-left: 3.625em;
}

.list-navigator li:last-child {
   margin-right: 3.625em;
}

.switch-theme {
   margin-left: auto;
   cursor: pointer;
}

.switch-theme svg {
   width: 1.5rem;
   fill: var(--text);
   animation: icon-animation 150ms linear;
}

.content {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   height: auto;
   width: 100%;
   padding: .5em 3.75em;
}

.content>#cover-info {
   margin-top: 6.8rem;
}

.heading {
   font-size: 2.8rem;
   font-weight: 900;
   color: var(--text);
   margin-top: 3.2em;
}

.description {
   width: 37.5em;
   color: var(--text);
   font-size: 1.3rem;
   font-weight: 300;
}

.image {
   margin-top: -30px;
   width: 35%;
   z-index: 5;
   object-fit: contain;
}

.heading-gradient {
   background: var(--text-gradient);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
}

.form {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: auto;
   gap: 24px;
   border-radius: 8px;
   width: 30%;
   height: calc(100vh - 13em);
   padding: 2.9em 4.375em;
   background: rgba(217, 217, 217, 0.05);
   box-shadow: 0px 4px 50px 10px rgba(0, 0, 0, 0.5);
   z-index: 10;
   margin-top: 9em;
   margin-right: 10em;

}

.content>#squad-area {
   width: 100%;
}

.squad-container {
   display: flex;
   width: 100%;
   gap: 50px;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}

.squad-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px 0;
   height: calc(100vh / 1.8);
   width: calc((100% / 4) - 50px);
   background: rgba(217, 217, 217, 0.05);
   box-shadow: 0px 4px 50px 10px rgba(0, 0, 0, 0.5);
   z-index: 10;
}

.profile {
   background-color: #4B90D0;
   border-radius: 50%;
}

.profile-name {
   color: var(--text);
   font-size: 1.6rem;
}

.icons {
   fill: blue;
}

.icons.sm {
   width: 35px;
}

.input-box {
   height: 2.75em;
   width: 100%;
   font-size: 1rem;
   border-radius: 6px;
   padding: 4px 10px;
   outline: none;
   border: 0;
   background-color: var(--input-box);
}

.submit {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--input-box);
   border-radius: 8px;
   height: 4em;
   width: 70%;
   font-size: 1rem;
   font-weight: 600;
   cursor: pointer;
}

.input-area {
   height: 20.5em;
   width: 100%;
   margin-top: 28px;
   font-size: 1rem;
   outline: none;
   border-radius: 6px;
   padding: 10px;
   resize: vertical;
}

@media screen and (max-width: 7000px) {

   html,
   body {
      font-size: 52px;
   }
}

@media screen and (max-width: 6000px) {

   html,
   body {
      font-size: 52px;
   }
}

@media screen and (max-width: 5000px) {

   html,
   body {
      font-size: 48px;
   }
}

@media screen and (max-width: 4000px) {

   html,
   body {
      font-size: 28px;
   }
}

@media screen and (max-width: 3000px) {

   html,
   body {
      font-size: 24px;
   }
}

@media screen and (max-width: 2000px) {

   html,
   body {
      font-size: 18px;
   }
}

@media screen and (max-width: 1536px) {

   html,
   body {
      font-size: 18px;
   }
}

@media screen and (max-width: 1280px) {

   /*Laptop */
   html,
   body {
      font-size: 13px;
   }

   .form {
      margin-right: 4em;
   }
}

@media screen and (max-width: 1024px) {

   /*Laptop 1*/
   html,
   body {
      font-size: 13px;
   }

   .form {
      margin-right: 4em;
   }
}

@media screen and (max-width: 768px) {

   html,
   body {
      font-size: 13px;
   }

   .wrapper {
      height: auto;
      overflow-x: hidden;
   }

   .light {
      transform: translate(-50%, -50%);
      height: 20%;
      width: 20%;
   }

   .content {
      flex-direction: column;
      overflow-x: hidden;
   }

   .squad-container {
      flex-direction: column;
   }

   .squad-content {
      width: calc(100vw / 2);
      border-radius: 4px;
   }

   .heading {
      text-align: center;
   }

   .description {
      text-align: center;
   }

   .form {
      width: 100%;
   }

   .image {
      margin-top: 0;
      width: 80vw;
      margin-left: 3em;
   }

   #last-image {
      width: 70vw;
      margin-left: 0;
      margin-left: 3em;
   }
}

@media screen and (max-width: 640px) {

   html,
   body {
      font-size: 13px;
   }

   .wrapper {
      height: auto;
      overflow-x: hidden;
   }

   .light {
      position: fixed;
      transform: translate(130%, -50%);
      height: 50%;
      width: 50%;
   }

   .header {
      justify-content: center;
      padding: 0 3.75em;
   }

   .hamburguer {
      display: block;
      position: absolute;
      margin-right: 30px;
      right: 0;
   }

   .hamburguer-menu {
      position: fixed;
      background-color: #fff;
      transform: translate(13%, 50%);
      width: 80%;
      height: 200px;
      top: 0;
      border-radius: 6px;
      z-index: 20;
   }

   .hamburguer>span {
      font-size: 37px;
      color: white;
   }

   .logo {
      color: var(--text);
      font-size: 2.5rem;
      font-weight: 800;
      font-style: italic;
   }

   .content {
      height: auto;
      overflow-x: hidden;
   }

   .squad-container {
      flex-direction: column;
   }

   .squad-content {
      height: calc(100vh/2);
      width: 100%;
   }

   .list-navigator {
      display: none;
   }

   .switch-theme {
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(-40%, 90%);
      margin-right: 10px;
   }

   .switch-theme svg {
      font-size: 2.5rem;
      color: var(--text);
   }

   .content {
      flex-direction: column;
      padding: 0 3.75em;

   }

   #form-area {
      padding: 0 30px;
      margin-top: 0;
   }

   #form-area .form {
      height: 70%;
      padding: 30px;
      margin-bottom: 80px;
   }


   .heading {
      font-size: 2.5em;
      font-weight: 900;
      color: var(--text);
      margin-top: 4rem;
      text-align: center;
   }

   #web {
      display: none;
   }

   .description {
      width: auto;
      color: var(--text);
      font-size: 1.3rem;
      font-weight: 300;
   }

   .image {
      margin-top: 0;
      width: 100vw;
      margin-left: -3.75em;
   }

   .heading-gradient {
      background: var(--text-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
   }

   .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
      gap: 24px;
      border-radius: 8px;
      width: 100%;
      height: calc(100% - 60px);
      padding: 2.9em 0;
      background: rgba(217, 217, 217, 0.05);
      box-shadow: 0px 4px 50px 10px rgba(0, 0, 0, 0.5);
      z-index: 10;
      margin: 0;
   }

   .input-box {
      height: 2.75em;
      width: 100%;
      font-size: 1rem;
      border-radius: 6px;
      padding: 4px 10px;
      outline: none;
      border: 0;
   }

   .submit {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #D9D9D9;
      border-radius: 8px;
      height: 2.5em;
      width: 70%;
      font-size: 1rem;
      cursor: pointer;
   }

   .input-area {
      height: 20.5em;
      width: 100%;
      margin-top: 28px;
      font-size: 1rem;
      outline: none;
      border-radius: 6px;
      padding: 10px;
   }
}


@keyframes icon-animation {
   from {
      transform: scale(0);
      opacity: 0;
   }

   to {
      transform: scale(1);
      opacity: 1;
   }
}

@keyframes headerActive {
   0% {
      background-position: 0% 0%;
   }

   50% {
      background-position: 50% 50%;
   }

   100% {
      background-position: 100% 100%;
   }
}