:root {
   --body-bg: red;
}

.dark:root {
   --body-bg: black;
}

* {
   box-sizing: border-box;
}

html,
body {
   padding: 0;
   margin: 0;
   border: 0;
   font-family: sans-serif;
   outline: none;
}

a, li {
   color: inherit;
   text-decoration: none;
}


@media (min-width: 640px) {

}
@media (min-width: 768px) {

}
@media (min-width: 1024px) {

}
@media (min-width: 1280px) {
   
}
@media (min-width: 1536px) {
   
}